{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/memory.css') }}">
{% endblock %}

{% block body %}
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>Mentions légales</strong>
                    </h1>
                    <br>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-5 mb-5">
        <p>
            Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance
            dans l’économienumérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs de ce site
            les présentes mentions légales. <br>
            La connexion et la navigation sur ce site (par l’Utilisateur implique acceptation intégrale et sans réserve
            des présentes mentions légales. <br>
        </p>
        <h4>Article 1 : l'Editeur</h4>
        <p>
            L'édition et la direction de la publication de ce site est assurée par Manon Baillet, dont l'adresse e-mail est
            baillet.manon[at]gmail.com
        </p>
        <h4>Article 2 : l'Hebergeur</h4>
        <p>
            L'hébergeur de ce site est la Société ......., dont le siège social est situé au ........, avec le numéro de
            téléphone : ...........
        </p>
        <h4>Article 3 : accès au site</h4>
        <p>
            Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou
            non et pouvant découlant d’une nécessité de maintenance. <br>
            En cas de modification, interruption ou suspension des services de ce site ne saurait être tenu responsable.
        </p>
        <h4>Article 4 : collecte des données</h4>
        <p>
            Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure
            où il ne collecteaucune donnée concernant les utilisateurs.
        </p>
        <h4>Article 5 : cookies</h4>
        <p>
            L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur
            son logiciel de navigation. <br>
            En naviguant sur le site, il les accepte. <br>
            Un cookie est un élément qui ne permet pas d’identifier l’Utilisateur mais sert à enregistrer des informations
            relatives à la navigation de celui-ci sur le site Internet. L’Utilisateur pourra désactiver ce cookie par
            l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.
        </p>
        <h4>Article 6 : propriété intelectuelle</h4>
        <p>
            Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie de ce site, sans
            autorisationde l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que
            notamment prévues par le Code de la propriété intellectuelle et le Code civil.
        </p>
    </div>
{% endblock %}