{% extends 'base.html.twig' %}

{% block title %}Souvenir photographique de Bruno Bouton-Hugues{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <h3 class="text-center mt-5 mb-5 mx-auto">Souvenir photographique de Bruno Bouton-Hugues</h3>
        </div>
        <div class="mt-5 mb-5">
            <div class="col mx-auto"><img src="{{ asset('assets/images/memories/bbh.png') }}" class="img-fluid" alt="Responsive image"></div>
        </div>
    </div>

{% endblock %}

