{% extends 'base.html.twig' %}

{% block title %}Souvenir photographique de Lauriane Reinbold{% endblock %}

{% block body %}

    <div class="container">
        <div class="mt-5 mb-5">
            <div class="col mx-auto"><img src="{{ asset('assets/images/memories/lauriane_3.png') }}" class="img-fluid" alt="Responsive image"></div>
        </div>
    </div>

{% endblock %}

