header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("/assets/images/contact.jpg");
    background-position: center center;
    background-size: cover;
}

.text-white {
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.need {
    background-color: white !important;
}

h2, h4 {
    color: #304051;
}