header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("/assets/images/ballpen.jpg");
    background-position: center center;
    background-size: cover;
}