header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("/assets/images/ballpen.jpg");
    background-position: center center;
    background-size: cover;
}

.image_outer_container{
    border-radius: 50%;
}

.image_inner_container img{
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-radius: 50%;
    border: 5px solid white;
}

.userName a, .userName a:hover, .userName a:visited {
    text-decoration: none;
    color: black;
}

.memory a, .memory a:hover, .memory a:visited {
    text-decoration: none;
    color: white;
}

.memoryImage {
    width: 400px;
}