{% extends 'base.html.twig' %}

{% block title %}Contactez-nous !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/contact.css') }}">
{% endblock %}

{% block body %}
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>Contactez-nous !</strong>
                    </h1>
                    <br>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <h4 class="text-center mt-5 mb-5">Une question ? Contactez-nous par le biais de ce formulaire.<br>
        Quelqu'un vous répondra au plus vite.</h4>
        {{ form_start(form) }}
        <div class="my-4">
            {{ form_widget(form.mail) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
