
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/registration.css">
{% endblock %}

{% block body %}

    <div class="card" style="width:400px">
        <div class="card-body">
            <h4 class="card-title text-center">{{ user.firstName }} {{ user.lastName }}</h4>
            <p class="card-text text-center">Cet utilisateur aimerait participer au projet "60 ans d'Alain"</p>
        </div>
    </div>

{% endblock %}