{% extends 'base.html.twig' %}

{% block title %}Modification de mot de passe{% endblock %}

{% block body %}

    <div class="container text-center">
    <div class="card mx-auto mt-5">
        <div class="card-header">
            <h1 class="text-center mt-5 mb-5">Modification de votre mot de passe</h1>
        </div>

        <div class="container">
            <div class="row flex-wrap-reverse justify-content-center">
                {{ form_start(form) }}
                <div class="my-4">{{ form_widget(form.newPassword) }}</div>
                <div class="mb-4">{{ form_widget(form.confirmPassword) }}</div>
                <button type="submit" class="btn btn-info my-4">Modifier le mot de passe</button>
        {{ form_end(form) }}
        </div>
        </div>
    </div>

{% endblock %}